{{#section 'css'}}
    <style>
        .form-group{
            width: 50%; padding-left:2.5%; padding-right:2.5%;
        }
    </style>
{{/section}}

<div class="container bootstrap snippet">
    <div class="row">
    <div class="col-sm-3">
        <div class="text-center">
            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar rounded-circle" alt="avatar">
            <input type="file" class="text-center center-block file-upload">
        </div>
        <br>
    </div>
    <div class="col-sm-9">
        {{#each list}}
        <form class="form" method="post" id="registrationForm">
            <div class="row">
                <div class="form-group">
                    <label for="username"><h4>User name</h4></label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="User name" title="Enter your username." value="{{username}}" readonly>
                </div>
                <div class="form-group">
                    <label for="name"><h4>Name</h4></label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" title="Enter your name." value="{{name}}" >
                </div>
            </div>
            
            <div class="row">
                    <div class="form-group">
                    <label for="email"><h4>Email</h4></label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="Enter your email." value="{{email}}" >
                </div>
                <div class="form-group">
                    <label for="password"><h4>Password</h4></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="password" title="Enter your password." value="" >
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="password"><h4>New password</h4></label>
                    <input type="password" class="form-control" name="newpassword" id="newpassword" placeholder="password" title="Enter your new password." value="" >
                </div>
                <div class="form-group">
                    <label for="password"><h4>Confirm new password</h4></label>
                    <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="password" title="Confirm your password." value="" >
                </div>
            </div>

            <div class="form-group" style="padding-left: 0px">
                <br>
                <button name="value" class="btn btn-lg btn-success" style="width: 100px;" type="submit" formaction="/account/savechangeprofile" value="{{username}}"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                <a class="btn btn-lg btn-success" style="width: 100px;" type="button" href="/account/profile" >Cancel</a>
            </div>
        </form>
        {{/each}}
    </div>
    </div>
</div>
