<div class="container-fluid h-100">
    <div class="row h-100 align-items-center">
        <div class="col-sm-12">
            <div class="card w-75 mx-auto shadow">
            <div class="card-body">
                <h1 class="card-title">Dear {{username}}</h1>
                <h2 class="text-danger">{{errTitle}}</h2>
                <p class="card-text">
                    {{errMessage}}
                </p>
                <p>
                    Click this button below to come back to change profile page</p>
            </div>
            <div class="card-footer d-flex justify-content-center ">
                <a class="btn btn-lg btn-success" style="width: 100px;" type="button" href="/account/changeprofile">Back</a>
            </div>
            </div>
        </div>
    </div>
  </div>