{{#section 'css'}}
{{/section}}

{{#section 'js'}}

    <script src="https://cdn.tiny.cloud/1/hygzc72vtb6fcja8plsjnx8quebr9pxltpz0qqnlrpmcvm9n/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',

            // plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            // toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            menubar: false,
            plugins: 'paste image link autolink lists table media',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
            ],
        });
    </script>
<script>
    var language = ["Python", "Java", "JavaScript","C","C++","C#","React", "React Native","HTML","PHP","CSS"];
</script>
{{/section}}
<!---->
<form method="POST"  >
    <div class="card w-75 p-3 mx-auto">
        <h4 class="card-header d-flex justify-content-left">
            New Course
        </h4>
        <b>
        <div class="card-body">
            <div class="form-group">
                <label for="txtCourseName">Your Course Name</label>
                <input  type="text" class="form-control" id="txtCourseName" name="course_name" autofocus>
            </div>
            <div class="form-group">
                <label for="txtCategory">Course Category</label>
                <input  type="text" class="form-control" id="Category" name="program_language" placeholder="Python, Java, C/C++,...">
            </div>
            <div class="form-group ">
                <input type="radio" id="complete" name="is_completed" value="true">
                <label for="complete">Course is completed</label><br>
            </div>
            <div class="form-group">
                <label for="txtPrice">Your Course Price</label>
                <input name="price" type="text" class="form-control" id="Price">
            </div>
            <div class="form-group">
                <label for="txtDiscount">Your Course Discount (if any)</label>
                <input name="discount" type="text" class="form-control" id="Discount">
            </div>

            <div class="form-group">
                <label for="txtTinyDescription">Course Brief Description</label>
                <textarea name="brief_description"  id="txtTinyDescription"  >Short description about your course..</textarea>
            </div>
            <div class="form-group">
                <label for="txtFullDescription">Course Full Description</label>
                <textarea name="detail_description" id="txtFullDescription"  >All description about your course..</textarea>
            </div>



        </div>
        </b>
        <div class="card-footer text-muted d-flex justify-content-end">
            <button type="submit" class="btn btn-primary bg-success text-white">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>