<div class='card'>
  <div class='card-title'>
    <div class='display-4 w-75 m-auto'>
      <strong>10,000 results for "React Python"</strong>
    </div>

    <div class='d-flex justify-content-between mt-4 w-75 m-auto'>
      <div>
        <form action='post'>
          <div class='form-group'>
            <label for='exampleFormControlSelect1'><strong
                class='display-4'
              >Sorted by</strong></label>
            <select class='form-control' id='exampleFormControlSelect1'>
              <option>Most Rating</option>
              <option>Lowest Price</option>
            </select>
          </div>
        </form>
      </div>
      <div class='display-4'>10,0000 results</div>
    </div>
  </div>

  <div class='card-body'>
    <div class='mb-2'>
      <div class='card h-100 border border-success'>
        <div class='row no-gutters'>
          <div class='col-md-3'>
            <img
              src='/public/imgs/admin_avatar.png'
              width='200px'
              height='200px'
              alt=''
              class=''
            />
          </div>
          <div class='col-md-7'>
            <div class='card-body text-dark'>
              <h2 class='card-title font-weight-bold'>
                React & Django Ful Stack: web app, backed API, mobile apps
              </h2>
              <div>Course Brief Description</div>
              <div>Author</div>
              <div>Rating</div>
            </div>
          </div>
          <div class='col p-3'>

          </div>
        </div>
      </div>
      <a class='row w-75 m-auto' href='#'>
        <div class='col-md-auto'>

        </div>

        <div class='col-sm'>
          <div class='d-flex justify-content-between'>
            <div class='text-left'>
              <strong></strong>
              <div>This is brief description</div>
              <div>Author</div>
              <div>Rating</div>
            </div>
            <div>
              đ2,199,000
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>

</div>