<div class='card'>
  <div class='card-title'>
    <div class='display-4 w-75 m-auto'>
      <strong>10,000 results for "React Python"</strong>
    </div>

    <div class='d-flex justify-content-between mt-4 w-75 m-auto'>
      <div>
        <form action='post'>
          <div class='form-group'>
            <label for='exampleFormControlSelect1'><strong
                class='display-4'
              >Sorted by</strong></label>
            <select class='form-control' id='exampleFormControlSelect1'>
              <option>Most Rating</option>
              <option>Lowest Price</option>
            </select>
          </div>
        </form>
      </div>
      <div class='display-4'>10,0000 results</div>
    </div>
  </div>
<div class="card-body ">
        <div class=" mb-12 " >
                        <div class="card h-100 border border-success " style=" min-height: 180px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img class="img-fluid img-thumbnail"style=" min-width: 160px; min-height: 160px; background-color: rgba(255,0,0,0.1);" src="/public/imgs/admin_avatar.png" alt="{{course_name}}" title="{{course_name}}">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body text-dark"  >
                                    <h5 class="card-title font-weight-bold ">Lập trình ứng dụng Java</h5>
                                    <div>
                                        This is course description  </br>
                                   <small class="text text-muted">Author </small>
                                    <div>
                                        <a class="card-text text-dark" ><b class="font-weight-bold text-danger">4.5</b>
                                            <small> <i class="fa fa-star" style="color: gold" id="rate" aria-hidden="true"></i>
                                            <a> 5000</a>
                                        </small></a>

                                    </div>
                                        <small class="text text-muted">more detail (wait for database of other collection to add) </small>
                                    </div>
                                    <div>
                                        <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                            Add to cart
                                        </a>
                                        <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                                            Buy now
                                        </a>


                                    </div>
                                </div>
                            </div>
                            <div class="col p-3 " style=" min-width: 80px; display: block;" >
                                <p id="discount" class="text-right text-decoration-line-through" style="text-decoration: line-through;">đ{{format_number price}}</p>
                                <h5 id="sale" class="card-title text-danger text-right">đ50,000</h5>
                            </div>
                        </div>
       </div>
  </div>  
</div>

</div>

