<div class="container-fluid p-0 m-0">
    <table class="table table-bordered text-center">
      <thead class="thead-light">
        <tr>
          <th>
            <div class="dropdown">
              <button class="btn btn-outline-success dropdown-toggle border-0" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                No
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <form method="post">
                  <div class="btn">
                    <button type="sumit" formaction="#" class="dropdown-item" type="button">Ascending</button>
                  </div>
                </form>
                <button class="dropdown-item" type="button">Descending</button>
              </div>
            </div>
          </th>
          <th>
            <div class="dropdown">
              <button class="btn btn-outline-success dropdown-toggle border-0" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Name
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">A-Z</button>
                <button class="dropdown-item" type="button">Z-A</button>
              </div>
            </div>
          </th>
          <th>
            <div class="dropdown">
              <button class="btn btn-outline-success dropdown-toggle border-0" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Email
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">A-Z</button>
                <button class="dropdown-item" type="button">Z-A</button>
              </div>
            </div>
          </th>
          <th>
            <div class="dropdown">
              <button class="btn btn-outline-success dropdown-toggle border-0" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                DoB
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Ascending</button>
                <button class="dropdown-item" type="button">Descending</button>
              </div>
            </div>
          </th>
          <th>
            <div class="dropdown">
              <button class="btn btn-outline-success dropdown-toggle border-0" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Role
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Teacher</button>
                <button class="dropdown-item" type="button">Student</button>
              </div>
            </div>
          </th>
          <th>
            <div class="dropdown">
              <button class="btn btn-outline-success dropdown-toggle border-0" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Created Date
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Ascending</button>
                <button class="dropdown-item" type="button">Descending</button>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Huỳnh Đức</td>
          <td>nhduc1201@gmail.com</td>
          <td>12/01/2002</td>
          <td>Student</td>
          <td>22/11/2002</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Huỳnh Đức</td>
          <td>nhduc1201@gmail.com</td>
          <td>12/01/2002</td>
          <td>Student</td>
          <td>22/11/2002</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Huỳnh Đức</td>
          <td>nhduc1201@gmail.com</td>
          <td>12/01/2002</td>
          <td>Student</td>
          <td>22/11/2002</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Huỳnh Đức</td>
          <td>nhduc1201@gmail.com</td>
          <td>12/01/2002</td>
          <td>Student</td>
          <td>22/11/2002</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Huỳnh Đức</td>
          <td>nhduc1201@gmail.com</td>
          <td>12/01/2002</td>
          <td>Student</td>
          <td>22/11/2002</td>
        </tr>
      </tbody>
    </table>
  </div>